{% from '_macros.j2' import sectionMacro with context %}
{% from '_macros.j2' import multiOption with context %}
{% from '_macros.j2' import serverMacro,revServerMacro with context %}
{{ sectionMacro(text='Dnsmasq\'s global config') }}
{% set go=config.global_options %}
{% if go.bogus_priv | default(false) is sameas true %}
bogus-priv 
{% endif %}
{% if go.no_resolv | default(false) is sameas true %}
no-resolv
{% endif %}
{% if go.no_hosts | default(false) is sameas true %}
no-hosts
{% endif %}
{% if go.bind_interfaces | default(false) is sameas true %}
bind-interfaces
{% endif %}

{% if go.listen_addresses | default(none) is not none %}
{{ multiOption(value=go.listen_addresses, option_name='listen-address') -}}
{% endif %}
{% if go.port | default(none) is not none %}
port={{ go.port }}
{% endif %}
{% if go.servers | default(none) is not none and (go.servers | length > 0) %}
{%   for server in go.servers %}
{%     if server.networks | default(none) is not none %}
{{ revServerMacro(server) }}
{%-     else -%}
{{ serverMacro(server) }}
{%     endif %}
{%   endfor %}
{% endif %}

{% if config.zones | default(none) is not none %}
{%   if instance_data.separate_zonefiles | default(dnsmasq_separate_zonefiles) is sameas false %}
{%     for zone in config.zones %}
{%       include 'dnsmasq_zone.j2' %}
{%     endfor %}
{%   endif %}
{% endif %}